node_modules/
dist/
.turbo/
block-pack/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.hypothesis/
*.tgz
.test_auth.json
dev/
work/
log/
.turbo
vite.config.*.timestamp-*
software/**/*.tgz
.DS_Store
.vscode/sftp.json
test-dry-run.json
